
<div id="container">
  <div class="comments"></div>
  <div class="commentbox">
    <div class="content">
      <h2 id="post">Post a comment </h2>
      <input type="text" placeholder="Title" class="user">
      <div class="commentinput">
        <input type="text" placeholder="Enter comment" class="usercomment">
        <div class="buttons">
          <button type="submit" disabled id="publish">Publish</button>
        </div>
      </div>
    </div>
  </div>
</div>
<span id="comment">0</span>
<script src="/js/post.js"></script>